{% extends 'data/main.html' %}


    {% block content %}
    <div class="main-wrapper">
    
        {% include 'data/topbar.html' %}
    
        {% include 'data/sidebar.html' %}
<div class="page-wrapper">
    <div class="content container-fluid">
       <div class="page-header">
          <div class="row">
             <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                <h5 class="text-uppercase">Edit Student</h5>
             </div>
             <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                <ul class="list-inline breadcrumb float-right">
                   <li class="list-inline-item"><a href="{% url 'students'  %}">Dashboard</a></li>
                   <li class="list-inline-item"> Edit Student</li>
                </ul>
             </div>
          </div>
       </div>
       <div class="page-content">
          <div class="row">
             <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                   <div class="page-title">
                      <div class="row">
                         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-title">Student information</div>
                         </div>
                      </div>
                   </div>
                   <div class="card-body">
                      <div class="row">
                         <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <form class="custom-mt-form" method="post" action>
                              {% csrf_token %}
                               <div class="form-group custom-mt-form-group">
                                  {{form.name}}
                                  <label class="control-label">Firstname</label><i class="bar"></i>
                               </div>
                               <div class="form-group custom-mt-form-group">
                                  {{form.email}}
                                  <label class="control-label">Email</label><i class="bar"></i>
                               </div>
                               <div class="form-group custom-mt-form-group">
                                  {{form.mobile}}
                                  <label class="control-label">Contact No</label><i class="bar"></i>
                               </div>
                               <div class="form-group custom-mt-form-group">
                                  {{form.sex}}
                                  <label class="control-label">Gender</label><i class="bar"></i>
                               </div>
                               <div class="form-group custom-mt-form-group">
                             <input type="text"   value="{{course_enrolled|join:', ' }}">
                                  <label class="control-label">Courses Enrolled</label><i class="bar"></i>
                               </div>
                               <div class="form-group custom-mt-form-group">
                                 <input type="text" value="{{now_attending|join:', ' }}">
                                  <label class="control-label">Now Attending</label><i class="bar"></i>
                               </div>
                               <div class="form-group custom-mt-form-group">
                                 {{form.start_date}}
                                  <label class="control-label">Start Date</label><i class="bar"></i>
                               </div>
                         </div>
                         <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="form-group custom-mt-form-group">
                                 {{form.payment}}
                                 <label class="control-label">Payement</label><i class="bar"></i>
                              </div>
                               <div class="form-group custom-mt-form-group">
                                 {{form.shared}}
                                  <label class="control-label">Resource Shared</label><i class="bar"></i>
                               </div>
                               <div class="form-group custom-mt-form-group">
                                 {{form.house}}
                                  <label class="control-label">House No/Building No</label><i class="bar"></i>
                               </div>
                               <div class="form-group custom-mt-form-group">
                                  {{form.street}}
                                  <label class="control-label">Addrress Line 1</label><i class="bar"></i>
                               </div>
                               <div class="form-group custom-mt-form-group">
                                  {{form.street2}}
                                  <label class="control-label">Addrress Line 2</label><i class="bar"></i>
                               </div>
                               <div class="form-group custom-mt-form-group">
                                  {{form.city}}
                                  <label class="control-label">City</label><i class="bar"></i>
                               </div>
                               <div class="form-group custom-mt-form-group">
                                  {{form.state}}
                                  <label class="control-label">State</label><i class="bar"></i>
                               </div>
                         </div>
                         <!-- <div class="page-title w-100">
                            <div class="row">
                               <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                  <div class="page-title pl-3">Parent information</div>
                               </div>
                            </div>
                         </div> -->
                         <!-- <div class="card-body w-100 parent-form">
                            <div class="row">
                               <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                  <form class="custom-mt-form">
                                     <div class="form-group custom-mt-form-group">
                                        <input type="text" value="John" />
                                        <label class="control-label">Father Name</label><i class="bar"></i>
                                     </div>
                                     <div class="form-group custom-mt-form-group">
                                        <input type="text" value="Mathematical technician" />
                                        <label class="control-label">Father Occupation</label><i class="bar"></i>
                                     </div>
                                     <div class="form-group custom-mt-form-group">
                                        <input type="number" value="9735845870" />
                                        <label class="control-label">Mobile number</label><i class="bar"></i>
                                     </div>
                                     <div class="form-group">
                                        <textarea id="message" class="form__field" placeholder="Present Address" rows="4">4467 Sherman street,Kansas</textarea>
                                        <label for="message" class="form-label">Present Address</label>
                                     </div>
                                  </form>
                               </div>
                               <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                  <form class="custom-mt-form">
                                     <div class="form-group custom-mt-form-group">
                                        <input type="text" value="Maries" />
                                        <label class="control-label">Mother Name</label><i class="bar"></i>
                                     </div>
                                     <div class="form-group custom-mt-form-group">
                                        <input type="text" value="Teacher" />
                                        <label class="control-label">Mother Occupation</label><i class="bar"></i>
                                     </div>
                                     <div class="form-group custom-mt-form-group">
                                        <input type="text" value="Indian" />
                                        <label class="control-label">Nationality</label><i class="bar"></i>
                                     </div>
                                     <div class="form-group">
                                        <textarea id="message" class="form__field" placeholder="Premanent Address" rows="4">4467 Sherman street,Kansas</textarea>
                                        <label for="message" class="form-label">Premanent Address</label>
                                     </div>
                                  </form>
                               </div>
                            </div> 
                         </div>
                         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <form class="custom-mt-form">
                               <div class="form-group custom-mt-form-group">
                                  <input type="file" name="pic" accept="image/*" style="margin-bottom:10px;">
                                  <label class="control-label">Student Image</label><i class="bar"></i>
                               </div>
                            </form>
                         </div>
                         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                            <form class="custom-mt-form">
                               <div class="form-group custom-mt-form-group">
                                  <input type="file" name="pic" accept="image/*" style="margin-bottom:10px;">
                                  <label class="control-label">Parents Image</label><i class="bar"></i>
                               </div>
                            </form>
                         </div>-->
                         <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                           
                               <div class="form-group text-center custom-mt-form-group">
                                  <button class="btn btn-primary mr-2" type="submit">Submit</button>
                                  <a class="btn btn-secondary" href="{% url 'students' %}">Cancel</a>
                               </div>
                           </form>
                           {% include 'data/student_course_data.html' %}
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    {% endblock %}